.contato-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-contato,
.form-contato {
    background: #171717;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.item-contato {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease;
}

.item-contato:hover {
    background-color: #333;
    border-radius: 5px;
}


   
.item-contato img {
    width: 32px;
    height: 32px;
}

.linha {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    width: 100%;
}



