* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: grey;

}

html {
    scroll-behavior: smooth;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    background-color: rgb(244, 244, 244);
}

header {
    display: flex;
    /*position: fixed;*/
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    min-height: 60px;
    width: 100%;
    z-index: 3;
    border-bottom: 1px solid #808080;
    position: relative;
    padding: 1rem;
}

#menu-hambuguer {
    display: none;
    width: 30px;
    cursor: pointer;
}

.img-logo {
    position: absolute;
    width: 159px;
    left: 1rem;
    border-radius: 5px;
}

.nav-bar {
    display: flex;
    gap: 20px;
    position: relative;
    right: 1rem;
}

nav a {
    position: relative;
    color: #808080;
    font-size: 14px;
    right: 10px;
    font-weight: bold;
}

nav a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #8ebe1e;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.5s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    opacity: 75%;
}

.cont-video {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 50vw;
    left: 50px;
}

.txt-video,
.prf-video {
    font-size: 120px;
    font-family: "Lato", sans-serif;
    color: white;
    position: relative;
    top: -50px;
    width: 30vw;
}

.cont-video p {
    font-size: 20px;
    width: 50vw;
}

.link-c-video {
    font-size: 14px;
    width: 200px;
    height: auto;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    background-color: #8ebe1e;
    color: white;
    transition: all 0.4s ease;
    text-align: center;
}

.link-c-video:hover {
    opacity: 80%;
    transform: translateY(-8px)
}

.link-c-video:active {
    opacity: 50%;
}

.titulos-serviços {
    margin-bottom: 10px;
}

.link-zap img {
    height: 60px;
    right: 20px;
    position: fixed;
    bottom: 20px;
    z-index: 2;
    animation: bounce-whatsapp 2s infinite;
}

@keyframes bounce-whatsapp {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

h1 span {
    color: #8ebe1e;

}

h2.txt-main span,
.span-serviços span,
.nossos-produtos span {
    color: #8ebe1e;
}

video {
    width: 100%;
    height: 100%;
    filter: brightness(40%);
    object-fit: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    height: 100vh;
}

main img {
    width: 700px;
    height: auto;
    border-radius: 35px;
    margin-top: 4%;
    box-shadow: 5px 5px 5px #00000036;
}

main .div-sobre-nos {
    font-size: 25px;
    line-height: 1.5;
    max-width: 400px;
}

.div-sobre-nos p {
    font-size: 18px;
    padding-top: 25px;
}

.nossos-serviços {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
    background: linear-gradient(to left top, #ecececd3, #d0d1d5);
}

.tipos-serviços {
    max-width: 1300px;
    width: 100%;
    align-items: center;
}

.chek-box1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}

.title-chek {
    text-align: center;
    padding: 30px;
    cursor: pointer;
    border-radius: 10px;
    width: 400px;
    height: 350px;
    border: 1px solid;
    color: #e1dddd;
    box-shadow: 0px 2px 5px 3px rgba(102, 102, 102, 0.2);
    margin-top: 15px;
    background-color: white;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;

}

.title-chek:hover {
    color: #8ebe1e;
}

.txt-serviços h2 {
    font-size: 50px;
}

.texto-box-serviços {
    margin-top: 20px;
}

.nossos-produtos {
    min-height: 100vh;
    background-color: white;
    padding: 40px;
}

.nossos-produtos>h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.linha-de-produtos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.img-produto {
    width: 700px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.conteudo-produto {
    max-width: 500px;
}

.conteudo-produto h2 {
    font-size: 45px;
    margin-bottom: 60px;
}

.conteudo-produto p {
    font-size: 18px;
    margin-bottom: 20px;
}

.botao-produto {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #537755;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.botao-produto:hover {
    opacity: 80%;
    transform: translateY(-8px)
}

.botao-produto:active {
    opacity: 50%;
}